* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

html,
body {
    height: 100vh;
    width: 100vw;
}
.r2 {
    
   
}
.r1, .r3 {
    background-color:rgba(108, 102, 141, 0.801) ;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-column-gap: 1em;
}
.r2 {
    display: grid;
    
    
}
.login-form {
    display:grid;
    justify-self:center;
    align-self: center;
    width: 450px;
    height: 450px;
    grid-template-rows: 5fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
}
.login-form > img {
    width: 100%;
    height: 100%;
}

.Login-Container-Grid {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
}
.login-logo {
    height: 200px;
}
.logo-name {
    line-height: 40px;
    margin-left: 10px;
    align-self: center;
}
.btn-login {
    width: 80px;
    justify-self: right;
}
.login-input {
    padding: 15px;
    font-size: 18px;
}
